
div.mcq {
	& > div.question {
		//
	}
	& > div.options {
		text-align: center;
		padding: 40px 10px;
		& > div.option {
			text-align: left;
			display: inline-block;
			border: 1px solid #ccc;
			width: 320px;
			max-width: 80%;
			margin: 10px;
			& > div {
				display: inline-block;
				padding: 15px 12px;
			}
			& > div.code {
				width: 40px;
				text-align: center;
				background-color: #ddd;
			}
		}
	}
	& > div.answer {
		//
	}
	& > div.explanation {
		//
	}
	& > div.comment {
		//
	}
}


