
extends kaagazz

block content
	div.question
		div.question !{kuz.content.question.getHtml()}

		if kuz.content.answer
			div.answer !{kuz.content.answer.getHtml()}

		if kuz.content.explanation
			div.explanation !{kuz.content.explanation.getHtml()}

		if kuz.content.comment
			div.comment !{kuz.content.comment.getHtml()}


