
extends kaagazz

block content
	div.question
		div.question !{kuz.sections.question.Html()}

		if kuz.sections.answer
			div.answer !{kuz.sections.answer.Html()}

		if kuz.sections.explanation
			div.explanation !{kuz.sections.explanation.Html()}

		if kuz.sections.comment
			div.comment !{kuz.sections.comment.Html()}


