include mixins

doctype html
html(lang="en")
	head
		+MetaCharset()
		+MetaSEO()

		title= page.Title()
		+MetaViewport()

		+BaseURL()

		link(rel="stylesheet", href="x/dist/css/kaagazz.css")

		+Analytics()

	body
		header
			+NavBar()

			div.header
				+PageCategory()
				+PageTitle()
				+PageAuthor()
				+PageDescription()
				+PageTags()

		article
			div
				block content

		footer.one
			+CategoriesSectionFooter()
			+TagsSectionFooter()

		footer.two
			+InformationSectionFooter()
			+SocialSectionFooter()

		footer.three
			div
				h5 &copy; Copyright 2020, Ankur Seth. All Rights Reserved.


